:host {
    h1.mat-dialog-title {
        width: auto;
        background-color: #333;
        color: #fff;
        font-size: 1em;
        margin: 0;
        padding: 5px 10px;
        font-weight: normal;
    }
    
    .section-instructions {
        margin: 20px 0;
        font-size: .8rem;
    }

    .mat-dialog-content {
        margin: 24px 0;
        padding: 0px;
    }

    .mat-dialog-actions {
        justify-content: flex-end;
    }

    .test-status {
        border-radius: 5px;
        border: 1px solid rgb(53, 53, 53);
        background-color: #bababa;
        padding: 8px;
        font-size: .7rem;
        color: #373737;
        -ms-user-select:none;
        -moz-user-select:none;
        -webkit-user-select:none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        user-select:none;
    }
}