version: '3.3'
services:

  senzing-api-server:
    image: senzing/senzing-api-server:${SENZING_DOCKER_IMAGE_VERSION_SENZING_API_SERVER:-2.0.1}
    container_name: senzing-api-server
    command:
      - -httpPort
      - "8080"
      - -bindAddr
      - all
      - -iniFile
      - /etc/opt/senzing/G2Module.ini
      - -allowedOrigins
      - "*"
      - -concurrency
      - "16"
    networks:
      - sz-api-network
    expose:
      - 8080
    ports:
      - 8080:8080
    volumes:
      - ${SENZING_DATA_VERSION_DIR:-/opt/senzing/data/1.0.0}:/opt/senzing/data
      - ${SENZING_ETC_DIR:-/etc/opt/senzing}:/etc/opt/senzing
      - ${SENZING_G2_DIR:-/opt/senzing/g2}:/opt/senzing/g2
      - ${SENZING_VAR_DIR:-/var/opt/senzing}:/var/opt/senzing
    restart: 'on-failure'

  senzing-webapp:
    image: senzing/entity-search-web-app
    container_name: senzing-webapp
    command: "start:docker"
    depends_on:
      - senzing-api-server
    environment:
      SENZING_API_SERVER_URL: "http://senzing-api-server:8080"
      SENZING_WEB_SERVER_URL: "http://senzing-webapp:8080"
      SENZING_WEB_SERVER_PORT: 8080
      SENZING_WEB_SERVER_API_PATH: '/api'
      SENZING_WEB_SERVER_ADMIN_AUTH_PATH: 'http://senzing-webapp:8080'
      SENZING_WEB_SERVER_ADMIN_AUTH_MODE: 'JWT'
    networks:
      - sz-api-network
    volumes:
      - '/app/node_modules'
    ports:
      - 8081:8080
    restart: 'always'

  senzing-webapp-e2e:
      image: senzing/entity-search-web-app
      container_name: senzing-webapp-e2e-server
      command: "e2e:docker"
      depends_on:
        - senzing-api-server
      build:
        context: .
        dockerfile: Dockerfile
      environment:
        SENZING_API_SERVER_URL: "http://senzing-api-server:8080"
        SENZING_WEB_SERVER_PORT: 8080
        SENZING_WEB_SERVER_API_PATH: '/api'
      networks:
        - sz-api-network
      volumes:
        - '.:/app'
        - '/app/node_modules'
      ports:
        - '4201:4200'
      restart: 'no'

networks:
  sz-api-network:
