<h2 class="section-title">License Information</h2>
<div class="info-wrapper">
  <div class="list-format">
    <div class="row key">Customer: </div>
    <div class="row value">{{ licenseInfo.customer}}</div>
    <div class="row key">Contract: </div>
    <div class="row value">{{ licenseInfo.contract}}</div>
    <div class="row key">Type:</div>
    <div class="row value">{{ licenseInfo.licenseType}}</div>
    <div class="row key">Level:</div>
    <div class="row value">{{ licenseInfo.licenseLevel}}</div>
    <div class="row key">Billing:</div>
    <div class="row value">{{ licenseInfo.billing}}</div>
    <div class="row key">Issued:</div>
    <div class="row value">{{ licenseInfo.issuanceDate}}</div>
    <div class="row key">Expiration:</div>
    <div class="row value">{{ licenseInfo.expirationDate}}</div>
    <div class="row key">Record Limit:</div>
    <div class="row value">{{ licenseInfo.recordLimit}}</div>
  </div>
</div>
