<div class="list-format">
  <div class="key">Web App Version: </div>
  <div class="value">{{ aboutService.appVersion }}</div>
  <div *ngIf="!aboutService.isPocServerInstance" class="key">API Server Version: </div>
  <div *ngIf="!aboutService.isPocServerInstance" class="value">{{ aboutService.apiServerVersion }}</div>
  <div *ngIf="!aboutService.isPocServerInstance" class="key" >REST API Version: </div>
  <div *ngIf="!aboutService.isPocServerInstance" class="value">{{ aboutService.restApiVersion }}</div>
  <div *ngIf="aboutService.isPocServerInstance" class="key">POC Server Version: </div>
  <div *ngIf="aboutService.isPocServerInstance" class="value">{{ aboutService.pocServerVersion }}</div>
  <div *ngIf="aboutService.isPocServerInstance" class="key" >POC API Version: </div>
  <div *ngIf="aboutService.isPocServerInstance" class="value">{{ aboutService.pocApiVersion }}</div>
  <div *ngIf="aboutService.restApiClientVersion" class="key">REST Client: </div>
  <div *ngIf="aboutService.restApiClientVersion" class="value">{{ aboutService.restApiClientVersion }}</div>
  <div *ngIf="aboutService.sdkComponentsVersion" class="key">SDK Components: </div>
  <div *ngIf="aboutService.sdkComponentsVersion" class="value">{{ aboutService.sdkComponentsVersion }}</div>
  <div *ngIf="aboutService.graphComponentsVersion" class="key">Graph Components: </div>
  <div *ngIf="aboutService.graphComponentsVersion" class="value">{{ aboutService.graphComponentsVersion }}</div>
  <hr>
  <div *ngIf="aboutService.angularVersion" class="key">Angular: </div>
  <div *ngIf="aboutService.angularVersion" class="value">{{ aboutService.angularVersion }}</div>
  <div *ngIf="aboutService.materialVersion" class="key">Material: </div>
  <div *ngIf="aboutService.materialVersion" class="value">{{ aboutService.materialVersion }}</div>
  <div *ngIf="aboutService.d3Version" class="key">D3: </div>
  <div *ngIf="aboutService.d3Version" class="value">{{ aboutService.d3Version }}</div>
  <hr>
  <div class="key">Admin Mode:</div>
  <div class="value" *ngIf="!aboutService.isAdminEnabled">Disabled</div>
  <div class="value " style="flex-basis: unset; width: 100%;" *ngIf="aboutService.isAdminEnabled">
    <button mat-button color="warn" class="admin-enabled-link" routerLink="/admin">Admin Enabled</button>
  </div>
  <div class="key">Stream Loading:</div>
  <div class="value" *ngIf="!aboutService.isAdminEnabled || !aboutService.isPocServerInstance || !configService.isStreamingConfigured">Disabled</div>
  <div class="value" *ngIf="aboutService.isAdminEnabled && aboutService.isPocServerInstance && configService.isStreamingConfigured">Enabled</div>
  <div class="key" style="flex-basis: auto; flex-grow: 2;">NAPI Version: </div>
  <div class="value" style="flex-basis: unset; width: 100%;">{{ aboutService.nativeApiVersion }}</div>
  <div class="native-group">NAPI Build # {{ aboutService.nativeApiBuildNumber }}</div>
  <div class="native-group key-full">NAPI Build Date: </div>
  <div class="value-full">{{ aboutService.nativeApiBuildDate }}</div>
</div>
