<div class="list-format">
  <div class="key">Web App Version: </div>
  <div class="value">{{ aboutService.appVersion }}</div>
  <div class="key">API Server Version: </div>
  <div class="value">{{ aboutService.apiServerVersion }}</div>
  <div class="key">REST API Version: </div>
  <div class="value">{{ aboutService.restApiVersion }}</div>
  <div *ngIf="aboutService.restApiClientVersion" class="key">REST Client: </div>
  <div *ngIf="aboutService.restApiClientVersion" class="value">{{ aboutService.restApiClientVersion }}</div>
  <div *ngIf="aboutService.sdkComponentsVersion" class="key">SDK Components: </div>
  <div *ngIf="aboutService.sdkComponentsVersion" class="value">{{ aboutService.sdkComponentsVersion }}</div>
  <div *ngIf="aboutService.graphComponentsVersion" class="key">Graph Components: </div>
  <div *ngIf="aboutService.graphComponentsVersion" class="value">{{ aboutService.graphComponentsVersion }}</div>
</div>
