<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <span *ngIf="!showGraphOptions">Entity Search</span>
  <span *ngIf="showGraphOptions">Explore Networks</span>
  <sz-powered-by format="small"></sz-powered-by>
  <mat-menu #appMenu="matMenu">
    <a (click)="goHome()" routerLink="/" routerLinkActive="active" mat-menu-item><mat-icon>home</mat-icon>Home</a>
    <a (click)="toggleSearch($event)" mat-menu-item>
      <mat-icon *ngIf="ribbonExpanded">visibility_off</mat-icon>
      <mat-icon *ngIf="!ribbonExpanded">visibility</mat-icon>
      Show/Hide Search
    </a>
    <a *ngIf="showEntityOptions && !showGraphOptions" [href]="graphRouteLink" target="_blank" mat-menu-item>
        <mat-icon>open_in_new</mat-icon>
        Open Entity in Graph View
      </a>
    <a *ngIf="showEntityOptions" [href]="entityRouteLink" target="_blank" mat-menu-item>
      <mat-icon>open_in_new</mat-icon>
      Open Entity in New Tab
    </a>
    <a *ngIf="showEntityOptions" (click)="downloadEntityPdf()" mat-menu-item>
      <mat-icon>picture_as_pdf</mat-icon>
      Download Entity as PDF
    </a>
    <a *ngIf="!prefsIsShowing" (click)="showPreferences()" mat-menu-item>
      <mat-icon>settings_applications</mat-icon>
      Preferences
    </a>
    <a *ngIf="prefsIsShowing" (click)="showSearch()" mat-menu-item>
        <mat-icon>arrow_back</mat-icon>
        Back to Search
    </a>

    <!-- <a (click)="toggleSpinner($event)" mat-menu-item>Toggle Spinner</a>
    <a routerLink="/entity/1" routerLinkActive="active" mat-menu-item>Ent 1</a>
    <a routerLink="/entity/9002324729487" routerLinkActive="active" mat-menu-item>Bad Ent Id</a>
    <a routerLink="/page/not/found" routerLinkActive="active" mat-menu-item>Page Not Found</a>
    <a [routerLink]="[{ outlets: { popup: ['compose'] } }]" mat-menu-item>Send</a> -->
  </mat-menu>
</mat-toolbar>
