<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <span>{{ headerTitle }}</span>
  <!--<span *ngIf="!showGraphOptions">Entity Search</span>
  <span *ngIf="showGraphOptions">Explore Networks</span>-->
  <sz-powered-by cdkOverlayOrigin #poweredByOrigin="cdkOverlayOrigin" format="small" (click)="toggleAboutInfo()"></sz-powered-by>
  <mat-menu #appMenu="matMenu">
    <a (click)="goHome()" routerLink="/" routerLinkActive="active" mat-menu-item><mat-icon>home</mat-icon>Home</a>
    <a *ngIf="showAdminOptions" mat-menu-item [matMenuTriggerFor]="adminMenu"><mat-icon>admin_panel_settings</mat-icon>Admin</a>
    <a *ngIf="!showGraphOptions" (click)="showSearchByAttributeForm()" mat-menu-item>
      <mat-icon>assignment_ind</mat-icon>
      Search By Attribute
    </a>
    <a *ngIf="!showGraphOptions && !searchById" (click)="searchById = !searchById" mat-menu-item>
      <mat-icon>assignment</mat-icon>
      <span>Search By Id</span>
    </a>
    <a *ngIf="showEntityOptions && !showGraphOptions" [href]="graphRouteLink" mat-menu-item>
        <mat-icon>insert_chart</mat-icon>
        Open Entity in Graph View
    </a>
    <a *ngIf="!showEntityOptions && !showGraphOptions && showResultsOptions" (click)="showResultsAsGraph = true" [href]="graphSearchResultsRouteLink" mat-menu-item>
        <mat-icon>insert_chart</mat-icon>
        Open in Graph View
    </a>
    <a *ngIf="!showEntityOptions && showGraphOptions" (click)="showResultsAsList = true" [href]="listSearchResultsRouteLink" mat-menu-item>
        <mat-icon>insert_chart</mat-icon>
        Exit Graph View
    </a>
    <a *ngIf="showEntityOptions" [href]="entityRouteLink" target="_blank" mat-menu-item>
      <mat-icon>open_in_new</mat-icon>
      Open Entity in New Tab
    </a>
    <a *ngIf="showEntityOptions" (click)="downloadEntityPdf()" mat-menu-item>
      <mat-icon>picture_as_pdf</mat-icon>
      Download Entity as PDF
    </a>
    <a (click)="toggleSearch($event)" mat-menu-item>
        <mat-icon *ngIf="ribbonExpanded">visibility_off</mat-icon>
        <mat-icon *ngIf="!ribbonExpanded">visibility</mat-icon>
        Show/Hide Search
      </a>
    <a *ngIf="!prefsIsShowing" (click)="showPreferences()" mat-menu-item>
      <mat-icon>settings_applications</mat-icon>
      Preferences
    </a>
    <a *ngIf="prefsIsShowing" (click)="showSearch()" mat-menu-item>
        <mat-icon>arrow_back</mat-icon>
        Back to Search
    </a>

    <!-- <a (click)="toggleSpinner($event)" mat-menu-item>Toggle Spinner</a>
    <a routerLink="/entity/1" routerLinkActive="active" mat-menu-item>Ent 1</a>
    <a routerLink="/entity/9002324729487" routerLinkActive="active" mat-menu-item>Bad Ent Id</a>
    <a routerLink="/page/not/found" routerLinkActive="active" mat-menu-item>Page Not Found</a>
    <a [routerLink]="[{ outlets: { popup: ['compose'] } }]" mat-menu-item>Send</a> -->
  </mat-menu>
  <mat-menu #adminMenu="matMenu">
    <button routerLink="/admin/datasources" mat-menu-item><mat-icon>account_tree</mat-icon>Data Sources</button>
    <button routerLink="/admin/load" mat-menu-item><mat-icon>upload_file</mat-icon>Load Data</button>
    <button *ngIf="consoleEnabled" routerLink="/admin/console" mat-menu-item><mat-icon>terminal</mat-icon>Console</button>
    <button routerLink="/admin/license/info" mat-menu-item><mat-icon>vpn_key</mat-icon>License</button>
  </mat-menu>
</mat-toolbar>
