:host {
  position: fixed;
  z-index: 100;
  width: 100%;
}

sz-powered-by {
  font-size: 10px;
  right: 0;
  position: absolute;
  margin: 2px 0 2px 4px;
  padding: 0 4px 0 0;
  cursor: pointer;
}

mat-toolbar, .mat-toolbar {
  height: 42px;
}
