@import '_datagrid.scss';

.section-title {
  margin-top: 0;
}
.section-instructions {
  font-size: 0.7em;
}
.mat-paginator {
  display: inline-block;
  float: right;
}
.mat-elevation-z8 {
  width: 300px;
}
.mat-table-full-width {
  width: 100%;
}

tr.mat-header-row {
  @include datagrid-header;
}
tr.mat-row {
  @include datagrid-row;
}

.mat-background {
    background-color: rgba($color: #000000, $alpha: 0.20);
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    left: 0;
    top: 0;
}
.spinner {
    display: block;
    margin: 50vh auto;
    text-align: center;
    font-size: 10px;
    width: 60px;
    height: 60px;

    div {
        background-color: #333;
        height: 100%;
        width: 9px;
        display: inline-block;
        margin: 0 3px 0 0;

        -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
        animation: sk-stretchdelay 1.2s infinite ease-in-out;
    }

    .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
    }

    .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
    }

    .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
    }

    .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
    }
}

table.general-stats {
  margin: 20px 0px 20px 20px;
}

table.general-stats th {
  text-align: right;
  width: 300px;
  color: #777;
}

table.general-stats td {
  padding-left: 20px;
}

.general-stats-reflow {
    display: flex;
    margin-bottom: 22px;

    .stats-col {
      width: 40%;
      &:first-child {
        margin-right: 50px;
      }
      th:first-child {
        text-align: left;
      }
    }
  }
