@import "~@fontsource/material-icons/index.css"; // Weight 400.
@import "~@fontsource/roboto/300.css"; // Weight 300.
@import "~@fontsource/roboto/400.css"; // Weight 400.
@import "~@fontsource/roboto/500.css"; // Weight 500.
@import "@angular/cdk/overlay-prebuilt.css";

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error-404 {
  background-color: #f3ecca;
}
.error-500 {
  background-color: #f3d6bf;
}
.error-504 {
  background-color: #de004830;
  background-color: rgba(222, 0, 72, 0.1);
}
.error-uknown {
  background-color: #e9caf3;
}

// sdk theme overrides
body {
  /* default theme overrides */
  --sz-search-button-clear-background-color: transparent;
  --sz-search-label-font-size: .8em;
  --sz-search-label-color: #b3b3b3;
  --sz-search-button-filter-background-color: #666565;
  --sz-search-button-filter-border-color: #bfbfbf;
  --sz-search-button-filter-width: 10px;
  --sz-search-button-filter-height: 10px;
  --sz-search-button-filter-font-size: 10px;
  --sz-search-button-filter-margin-left: 2px;

  --sz-graph-filter-match-key-tags-font-size: 13px;
  --sz-graph-filter-match-key-tags-line-height: 17px;
  --sz-graph-filter-match-key-tags-flex-direction: row;
  --sz-graph-filter-match-key-tags-margin-right: 5px;
  --sz-graph-filter-match-key-tags-display: inline-block;
  
  &.graph-open {
    overflow: hidden;
    height: 100vh;
  }
}

.tooltip-red {
  background: #b71c1c;
}

.graph-context-menu {
  display: block;
  background-color: rgb(104, 104, 104);
  padding: 0;
  margin: 0;
  min-width: 140px;
  font-size: 12px;
  border-left: 1px solid #686868;
  border-right: 1px solid #686868;
  border-top: 0;
  border-bottom: 0;

  li {
    display: block;
    background-color: #eaeaea;
    text-align: left;
    transition-duration: 0.2s;
    color: rgb(58, 58, 58);
    margin: 0 0 0 0;
    padding: 4px 7px 2px 7px;
    border-top: 1px solid #686868;
    /*border-bottom: 1px solid #686868;*/
    white-space: nowrap;
  }
  li:first-child {
    border-top: 1px solid rgb(104, 104, 104);
    margin-top: 0;
  }
  li:last-child {
    margin-bottom: 0;
    border-bottom: 1px solid rgb(104, 104, 104);
  }
  li:hover {
    cursor: pointer;
    background-color:rgb(58, 58, 58);
    color:#c0c0c0;
  }
}

button.graph {
  span.mat-button-wrapper {
      padding: 0;
      margin: 0;
      line-height: auto;
  }
  mat-icon {
    font-size: 20px;
  }
}
