@import '~@angular/material/theming';
@import "variables";
@import "mixins";

@include mat-core();

$my-app-primary: mat-palette($mat-amber);
$my-app-accent:  mat-palette($mat-blue-gray, 500, 900, A100);
$my-app-warn:    mat-palette($mat-deep-orange);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

// --------------------- ANGULAR MATERIAL THEME
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$sz-mat-colors: (
  PRIMARY: #{$sz-blue},
  SECONDARY: #{$sz-blue},
  WARNING: #{$sz-magenta},
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

// $default: 500, $lighter: 100, $darker: 700, $text: $default
$sz-mat-primary: mat-palette($sz-mat-colors, PRIMARY, PRIMARY, PRIMARY);
$sz-mat-accent:  mat-palette($sz-mat-colors, SECONDARY, SECONDARY, SECONDARY);
// The warn palette is optional (defaults to red).
$sz-mat-warn:    mat-palette($sz-mat-colors, WARNING, WARNING, WARNING);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$sz-mat-theme: mat-light-theme((
  color: (
    primary: $sz-mat-primary,
    accent: $sz-mat-accent,
    warn: $sz-mat-warn,  
  )
));

@include angular-material-theme($sz-mat-theme);