@use '~@angular/material' as mat;
@import "variables";
@import "mixins";

@include mat.core();

$my-app-primary: mat.define-palette(mat.$amber-palette);
$my-app-accent:  mat.define-palette(mat.$blue-gray-palette, 500, 900, A100);
$my-app-warn:    mat.define-palette(mat.$deep-orange-palette);

$my-app-theme: mat.define-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

// --------------------- ANGULAR MATERIAL THEME
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$sz-mat-colors: (
  PRIMARY: #{$sz-blue},
  SECONDARY: #{$sz-blue},
  WARNING: #{$sz-red},
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: white,
    A400: white,
    A700: white,
  )
);

// $default: 500, $lighter: 100, $darker: 700, $text: $default
$sz-mat-primary: mat.define-palette($sz-mat-colors, PRIMARY, PRIMARY, PRIMARY);
$sz-mat-accent:  mat.define-palette($sz-mat-colors, SECONDARY, SECONDARY, SECONDARY);
// The warn palette is optional (defaults to red).
$sz-mat-warn:    mat.define-palette($sz-mat-colors, WARNING, WARNING, WARNING);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$sz-mat-theme: mat.define-light-theme((
  color: (
    primary: $sz-mat-primary,
    accent: $sz-mat-accent,
    warn: $sz-mat-warn,  
  )
));

@include mat.all-component-themes($sz-mat-theme);