<h2 class="section-title">
    EDA Tools Console
</h2>
<p class="section-instructions">
    As of version 2.0, Senzing ships with 3 python scripts that help you explore your data:
    <strong>G2Explorer.py</strong>, <strong>G2Snapshot.py</strong>, and <strong>G2Audit.py</strong>. 
    These were formerly known as the POC (Proof of Concept) utilities in prior Senzing versions.   We renamed them to EDA (Exploratory Data Analysis) tools because while they certainly help POCs they can be used long after to help ensure your system is performing as expected. 
    <a href="https://senzing.zendesk.com/hc/en-us/articles/360052040553-Exploratory-Data-Analysis-Overview-EDA-Tools-" target="_new">Click here</a> for more information on what each tool does and a brief walkthrough of functionality.
</p>
<div *ngIf="!isConsolePoppedOut" class="xterm-rel-wrapper">
    <mat-icon class="pop-out-icon" (click)="detachCmdFromPage()">open_in_new</mat-icon>
    <button mat-button class="button-connect"    *ngIf="!isConnected && !isConsolePoppedOut" (click)="toggleConnection()"><mat-icon>link</mat-icon>Connect</button>
    <!--<button mat-button class="button-disconnect" *ngIf="isConnected && !isConsolePoppedOut"  (click)="toggleConnection()"><mat-icon>link_off</mat-icon>Disconnect</button>-->
    <sz-xterm #xtermConsole [class.taller]="!this.uiService.searchExpanded"></sz-xterm>
</div>