<app-toolbar *ngIf="!noDecoration"
  (showSection)="onToolBarSectionChange($event)"
  [prefsIsShowing]="showPrefs"></app-toolbar>
<div *ngIf="!noDecoration" class="tool-tray" 
  [class.expanded]="searchExpanded" 
  [class.graph-open]="isGraphOpen" 
  [class.prefs-showing]="showPrefs">
    <div id="toolbar-col1" class="column">
      <sz-preferences *ngIf="showPrefs"
        showControls="true"></sz-preferences>
      <sz-search #searchComponent *ngIf="!showPrefs && !showSearchById"
      showIdentifierTypesPicker="true"
      (resultsChange)="onSearchResults($event)"
      (resultsCleared)="onSearchResultsCleared($event)"
      (parameterChange)="onSearchParameterChange($event)"
      (searchStart)="onSearchStart($event)"></sz-search>
      <sz-search-by-id *ngIf="!showPrefs && showSearchById"
        (parameterChange)="onSearchParameterChange($event)"
        (entityChange)="onEntityResult($event)"
        (resultCleared)="onSearchResultsCleared($event)"
        (resultChange)="onRecordChange($event)"
        (exception)="onSearchByIdException($event)"
      ></sz-search-by-id>
    </div>
    <div id="toolbar-col2" class="column" *ngIf="showPrefs">
      <h2 class="title">Storage Mode</h2>
      <div class="global-state-settings">
        <div class="row"><input id="gSettings-saveToLocalStorage" type="radio" name="prefsStorageMode" value="local"
          [ngModel]="prefsStorageMode" (change)="onPrefsStorageModeUIChange('local')"><label for="gSettings-saveToLocalStorage">Local Storage<small>(persists across sessions)</small></label></div>
        <div class="row"><input id="gSettings-saveToSessionStorage" type="radio" name="prefsStorageMode" value="session"
          [ngModel]="prefsStorageMode" (change)="onPrefsStorageModeUIChange('session')"><label for="gSettings-saveToSessionStorage">Session Storage
            <small>(persists for life of browser <br/>window &amp; tab restores)</small>
          </label>
        </div>
        <div class="row"><input id="gSettings-saveToVolatileStorage" type="radio" name="prefsStorageMode" value="memory"
          [ngModel]="prefsStorageMode" (change)="onPrefsStorageModeUIChange('memory')"><label for="gSettings-saveToVolatileStorage">In memory
            <small>(persists for life of page)</small>
          </label>
        </div>
        <div class="row actions">
          <button id="gSettings-resetPrefs" mat-raised-button color="primary"
           name="clearPrefs" (click)="clearPrefs()"
           matTooltip="resets options to defaults."
           aria-label="resets options to defaults.">Reset</button>
          <button id="gSettings-resetPrefs" mat-raised-button color="warn"
           name="deletePrefs" (click)="clearPrefs(true)"
           matTooltip="delete any values stored in browser storage."
           aria-label="delete any values stored in browser storage."
           >Delete</button>
        </div>
      </div>
      <div (click)="exitPrefs($event)" *ngIf="showPrefs" class="exit-icon">
          <mat-icon>arrow_back_ios</mat-icon>
          <span>Back</span>
      </div>
    </div>
    <mat-icon (click)="toggleRibbonState($event)" *ngIf="!searchExpanded && !showPrefs" class="toggle-icon">expand_more</mat-icon>
    <mat-icon (click)="toggleRibbonState($event)"*ngIf="searchExpanded && !showPrefs" class="toggle-icon">expand_less</mat-icon>
</div>
<app-spinner></app-spinner>
<div *ngIf="!noDecoration" class="view-primary" [class.expanded]="!this.uiService.searchExpanded" [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>
<div *ngIf="noDecoration" class="popup-wrapper">
  <router-outlet name="popup"></router-outlet>
</div>