
sz-powered-by {
  font-size: 10px;
  bottom: 0;
  right: 0;
  position: absolute;
}


.tool-tray {
  display: inline-block;
  width: 100%;
  height: 83px;
  overflow: hidden;
  background-color: #333;
  position: relative;
  top: -17px;
  transition: height 0.6s cubic-bezier(0.46, 0.03, 0.52, 0.96);

  &.expanded {
    height: 275px;
    sz-search {
      opacity: 1;
    }
  }

  sz-search {
    width: 100%;
    margin: 60px 0 0 0;
    opacity: 0;
    transition: opacity .4s linear;
  }

  .toggle-icon {
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 10px;
    font-size: 26px;
    line-height: 16px;
    color: #fff;
  }
}
// specific heights for the
// drawer depending on breakpoints
:host.layout-narrow {
  .tool-tray.expanded {
    height: 430px;
  }
}
:host.layout-super-narrow {
  .tool-tray.expanded {
    height: 520px;
  }
}

// spinner animations
@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
  }
  20% {
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
  }
}
