<h2 class="section-title">Import Data from a file</h2>
<p class="section-instructions">
  To begin importing data please provide a file for analysis by clicking on the <b>Analyze File</b> button
  below.
</p>
<p class="section-instructions">
  The data should be in pre-mapped format using JSON property names or CSV column names as described by the <a href="https://senzing.zendesk.com/hc/en-us/articles/231925448-Generic-Entity-Specification" target="EntitySpec">Senzing Generic Entity Specification</a>.
</p><br/>
<admin-bulk-data-load [showSummaries]="false"></admin-bulk-data-load>
<admin-bulk-data-analysis></admin-bulk-data-analysis>
<!--<sz-bulk-data-load [showSummaries]="false"></sz-bulk-data-load>
<sz-bulk-data-analysis></sz-bulk-data-analysis>
-->
