<h2 class="section-title">Import Data from a file</h2>
<p class="section-instructions">
  Lorem ipsum dolor amet hashtag forage austin pour-over vegan, meditation subway tile sriracha. VHS taxidermy butcher, retro deep v forage kale chips meditation scenester meggings bitters 8-bit knausgaard. Stumptown succulents swag, pok pok kombucha heirloom knausgaard 3 wolf moon quinoa scenester organic taxidermy wolf. Hashtag enamel pin vape ennui pop-up iPhone quinoa chia lo-fi. Keffiyeh fixie jean shorts jianbing, copper mug celiac actually iceland affogato art party tofu migas pug mlkshk.

  You probably haven't heard of them mumblecore sartorial keytar tumeric cray chillwave knausgaard locavore hoodie umami church-key adaptogen. La croix etsy bitters cred. VHS sustainable chambray bitters cornhole next level polaroid master cleanse four dollar toast iPhone etsy humblebrag distillery. Austin twee tumblr celiac tote bag artisan jianbing forage. PBR&B raw denim etsy tousled truffaut taxidermy neutra austin locavore kinfolk brunch affogato. Butcher bespoke knausgaard ramps shaman. Lo-fi activated charcoal salvia mumblecore tofu heirloom asymmetrical sartorial authentic.
</p>
<admin-bulk-data-load [showSummaries]="false"></admin-bulk-data-load>
<admin-bulk-data-analysis></admin-bulk-data-analysis>
<!--<sz-bulk-data-load [showSummaries]="false"></sz-bulk-data-load>
<sz-bulk-data-analysis></sz-bulk-data-analysis>
-->
