<div class="top-columns">
  <h2 class="section-title" *ngIf="!currentError">Import Data from a file</h2>
  <h2 class="section-title" *ngIf="currentError">Error Encountered</h2>
  <!--<div>canUseSocketStream: {{ canUseSocketStream }} | {{ aboutInfoService.isPocServerInstance }}</div>-->
  <div class="stream-errors-indicator" *ngIf="hasStreamLoadErrors"
      matTooltip="Errors occurred during stream load. Click for more information."
      matTooltipPosition="above"
      matTooltipClass="tooltip-red"
      (click)="inspectStreamLoadErrors()">
    <mat-icon class="error-icon">running_with_errors</mat-icon>
    <mat-icon class="error-icon-dummy" [matBadge]="streamLoadErrorCount" matBadgeColor="warn" matBadgeSize="small">running_with_errors</mat-icon>
    <!-- Include text description of the icon's meaning for screen-readers -->
    <span class="cdk-visually-hidden">
      Errors encountered during a stream load are indicated by the presence of this element.
    </span>
  </div>
  <!--<div class="stream-connection-idicator" *ngIf="useSocketStream && canUseSocketStream">
    <mat-icon aria-hidden="false" aria-label="stream is disconnected. click to connect." class="disconnected" 
      matTooltip="Disconnected from stream host. Click to connect/reconnect." 
      matTooltipClass="tooltip-red" 
      matTooltipPosition="left" 
      *ngIf="!streamConnected" (click)="setStreamState(true)">flash_off</mat-icon>
    <mat-icon aria-hidden="false" aria-label="stream is connected. click to disconnect." class="connected" 
      matTooltip="Connected to stream host. Click to disconnect."
      matTooltipPosition="left" 
      *ngIf="streamConnected" (click)="setStreamState(false)">flash_on</mat-icon>
  </div>-->
  <div class="stream-loading" *ngIf="canSwitchFromStreamingToHttp">
    <mat-slide-toggle [(ngModel)]="useSocketStream">Stream Connection</mat-slide-toggle>
  </div>
</div>
<div class="section-notice" *ngIf="useSocketStream && !analysis && !result && !currentError">
  <h3 class="col"><mat-icon aria-hidden="false" aria-label="Steaming Note">new_releases</mat-icon></h3>
  <div class="col instructions">
    <span class="notice-title">Note:</span>
    Currently streaming upload only supports JSON, or JSONL format. CSV is not supported at this time.
  </div>
</div>
<p class="section-instructions">
  To begin importing data please provide a file for analysis by clicking on the <b>Analyze File</b> button
  below.
  The data should be in pre-mapped format using JSON property names or CSV column names as described by the <a href="https://senzing.zendesk.com/hc/en-us/articles/231925448-Generic-Entity-Specification" target="EntitySpec">Senzing Generic Entity Specification</a>.
</p>
<div class="error-msg" *ngIf="currentError">
  <mat-icon aria-hidden="false" aria-label="Error!">error_outline</mat-icon>
  {{ currentError.message }}
</div>
<div *ngIf="!analysis && !result" class="dnd-drop-zone" fileDnD (fileDropped)="onFileDropped($event)" (click)="chooseFileInput($event)">
  <span class="material-icons">
    create_new_folder
  </span>
  Upload File: Choose a file or drag it here.
</div>
<br/>
<admin-bulk-data-analysis *ngIf="analysis || result" [useSocketStream]="useSocketStream"></admin-bulk-data-analysis>
<admin-bulk-data-load #adminBulkDataLoadRef [showSummaries]="false" [useSocketStream]="useSocketStream"></admin-bulk-data-load>
<!--<sz-bulk-data-load [showSummaries]="false"></sz-bulk-data-load>
<sz-bulk-data-analysis></sz-bulk-data-analysis>
-->
<!-- start spinner overlay -->
<div class="mat-background" *ngIf="analyzingFile || loadingFile">
  <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
  </div>
</div>
<!-- end spinner overlay -->
