<!-- start BulkDataAnalysisReport -->
<table *ngIf="analysis" class="data-source-mapping">
  <tr>
    <th>Record Data Source</th>
    <th>Number of Records</th>
    <th>Records with Record ID</th>
    <th>Map to Data Source</th>
  </tr>
  <tr *ngFor="let dsa of analysis.analysisByDataSource; let l = index;">
    <td>{{ dsa.dataSource && dsa.dataSource.trim().length > 0 ? dsa.dataSource : '[NONE]' }}</td>
    <td>{{ dsa.recordCount }}</td>
    <td>{{ dsa.recordsWithRecordIdCount }}</td>
    <td class="data-source-map">
      <input type="text" placeholder="Choose a Data Source" #targetDS
             [value]="dataSources.indexOf(dsa.dataSource) >= 0 ? dsa.dataSource : ''"
             [attr.list]="'ds-name-'+l"
             (change)="handleDataSourceChange(dsa.dataSource, targetDS.value)">
      <datalist #dataSourceOptions [id]="'ds-name-'+l">
        <option *ngFor="let dataSource of dataSources" [value]="dataSource" (click)="handleDataSourceChange(dsa.dataSource,  dataSource)">{{dataSource}}</option>
      </datalist>
      <span *ngIf="targetDS.value && (targetDS.value.trim().length > 0) && (dataSources.indexOf(targetDS.value) < 0)">new</span>
    </td>
  </tr>
</table>
<!-- start BulkDataAnalysisReport -->
