<!-- start BulkDataLoadSummary -->
<table class="general-stats" *ngIf="result">
  <tr><th *ngIf="file && file.name">File Name:</th><td>{{ file.name }}</td></tr>
  <tr><th *ngIf="file && file.size">File Size:</th><td>{{ file.size }}</td></tr>
  <tr><th>Character Encoding:</th><td>{{ result.characterEncoding }}</td></tr>
  <tr><th>Media Type:</th><td>{{ result.mediaType }}</td></tr>
  <tr><th>Total Number of Records:</th><td>{{ result.recordCount }}</td></tr>
  <tr><th>Number of Loaded Records:</th><td>{{ result.loadedRecordCount }}</td></tr>
  <tr><th>Number of Failed Records:</th><td>{{ result.failedRecordCount }}</td></tr>
</table>
<!-- end BulkDataLoadSummary -->
