
@import '../../scss/_admin.scss';

:host {
  display: inline-block;

  .hidden-file-picker {
    visibility: hidden;
    position: absolute;
  }

  button {
    margin-right: 1em;
    padding: 0 2em 0 2em;
    &:last-child {
      margin-right: 0;
    }
  }

  .summary {
    margin-bottom: 20px;
  }
}

.header {
  border: 1px outset #C0C0C0;
  background-color: #e1e1e1;
  font-weight: bold;

  .column {
    margin: 4px 10px;
  }
}

.row, .header {
  display: flex;
}

.column {
  flex: 50%;
  margin: 0 2px 0 2px;
}
.row {
  padding: 2px 0 2px 10px;
  border-bottom: 1px inset #c0c0c0;
}
.cell {
  /*border: 1px inset #C0C0C0;*/
  padding: 2px;
}
