
:host {
  display: block;

  button {
    border: 1px solid grey;
    width: 150px;
  }
  table.general-stats {
    margin: 20px 0px 20px 20px;
  }

  table.general-stats th {
    text-align: right;
    width: 300px;
  }

  table.general-stats td {
    padding-left: 20px;
  }

  admin-bulk-data-load-summary, .summary {
    margin-bottom: 20px;
  }
}

.header {
  border: 1px outset #C0C0C0;
  background-color: #e1e1e1;
  font-weight: bold;

  .column {
    margin: 4px 10px;
  }
}

.row, .header {
  display: flex;
}

.column {
  flex: 50%;
  margin: 0 2px 0 2px;
}
.row {
  padding: 2px 0 2px 10px;
  border-bottom: 1px inset #c0c0c0;
}
.cell {
  /*border: 1px inset #C0C0C0;*/
  padding: 2p
}
