:host {
  display: block;

  button {
    border: 1px solid grey;
    width: 150px;
  }
  table.general-stats {
    margin: 20px 0px 20px 20px;
  }

  table.general-stats th {
    text-align: right;
    width: 300px;
  }

  table.general-stats td {
    padding-left: 20px;
  }
}
