<!-- start BulkDataLoadSummary -->
<div class="general-stats-reflow" *ngIf="result">
  <table class="stats-col">
    <tr><th>Total Number of Records:</th><td>{{ result.recordCount }}</td></tr>
    <tr><th>Number of Loaded Records:</th><td>{{ result.loadedRecordCount }}</td></tr>
    <tr><th>Number of Failed Records:</th><td>{{ result.failedRecordCount }}</td></tr>
    <tr><th>Number of Records Missing Data Sources:</th><td>{{ result.missingDataSourceCount }}</td></tr>
    <tr><th>Number of Records Missing Entity Types:</th><td>{{ result.missingEntityTypeCount }}</td></tr>
  </table>
  <table class="stats-col">
    <tr><th *ngIf="file && file.name">File Name:</th><td>{{ file.name }}</td></tr>
    <tr><th *ngIf="file && file.size">File Size:</th><td>{{ getFileSize(file.size) }}</td></tr>
    <tr><th>Character Encoding:</th><td>{{ result.characterEncoding }}</td></tr>
    <tr><th>Media Type:</th><td>{{ result.mediaType }}</td></tr>
  </table>
</div>
<div class="general-stats-reflow" *ngIf="streamResult">
  <table class="stats-col">
    <tr><th>Total Number of Records:</th><td>{{ streamResult.recordCount }}</td></tr>
    <tr><th>Number of Sent Records:</th><td>{{ streamResult.sentRecordCount }}</td></tr>
    <tr><th>Number of Queued Records:</th><td>{{ streamResult.unsentRecordCount }}</td></tr>
    <tr><th>Number of Records Missing Data Sources:</th><td>{{ streamResult.missingDataSourceCount }}</td></tr>
    <tr><th>Number of Records Missing Entity Types:</th><td>{{ streamResult.missingEntityTypeCount }}</td></tr>
  </table>
  <table class="stats-col">
    <tr><th *ngIf="file && file.name">File Name:</th><td>{{ file.name }}</td></tr>
    <tr><th *ngIf="file && file.size">File Size:</th><td>{{ getFileSize(file.size) }}</td></tr>
    <tr><th>Character Encoding:</th><td>{{ streamResult.characterEncoding | uppercase }}</td></tr>
    <tr><th>Media Type:</th><td>{{ streamResult.mediaType }}</td></tr>
    <tr><th>Bytes Read:</th><td>{{ getFileSize(streamResult.bytesRead) }}</td></tr>
    <tr><th>Bytes Sent:</th><td>{{ getFileSize(streamResult.bytesSent) }}</td></tr>
    <!--<tr><th>Bytes not yet sent:</th><td>{{ getFileSize(streamResult.bytesQueued) }}</td></tr>-->
  </table>
</div>
<!-- end BulkDataLoadSummary -->
