<!-- start summary data -->
<admin-bulk-data-analysis-summary *ngIf="analysis && !result"></admin-bulk-data-analysis-summary>
<admin-bulk-data-load-summary *ngIf="result"></admin-bulk-data-load-summary>
<!--  end summary data  -->
<!-- start streaming interface -->
<div *ngIf="(streamImportInProgress && !streamAnalysisInProgress) || streamImportPaused || streamImportComplete" class="stream-job-status">
  <div *ngIf="streamImportInProgress || streamImportPaused" class="stream-controls">
    <button *ngIf="streamImportPaused" mat-raised-button (click)="resumeStreamImport()"><mat-icon aria-hidden="false" aria-label="resume icon">play_arrow</mat-icon>Resume</button>
    <button *ngIf="!streamImportPaused" mat-raised-button (click)="pauseStreamImport()"><mat-icon aria-hidden="false" aria-label="pause icon">pause</mat-icon>Pause</button>
  </div>
  <sz-progress-bar 
         [mode]="streamImportProgressBarMode" 
         [value]="streamImportProgressBarValue"
         [text]="streamStatusMessage"></sz-progress-bar>
</div>
<!--<div>
  <li>useSocketStream: {{useSocketStream}}</li>
  <li>streamAnalysisInProgress: {{streamAnalysisInProgress}}</li>
  <li>streamImportInProgress: {{streamImportInProgress}}</li>
  <li>streamImportComplete: {{streamImportComplete}}</li>
  <li>streamAnalysisComplete: {{streamAnalysisComplete}}</li>
</div>-->
<!-- end streaming interface -->
<!-- start tabular display -->
<admin-bulk-data-stream-analysis-report *ngIf="analysis && streamAnalysisComplete && !result && useSocketStream"></admin-bulk-data-stream-analysis-report>
<admin-bulk-data-analysis-report *ngIf="analysis && !result && !useSocketStream"></admin-bulk-data-analysis-report>
<admin-bulk-data-load-report *ngIf="result && !useSocketStream"></admin-bulk-data-load-report>
<!--  end tabular display  -->
<!-- start spinner overlay -->
<div class="mat-background" *ngIf="analyzingFile || loadingFile">
  <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
  </div>
</div>
<!-- end spinner overlay -->
