:host {
  padding: 20px 20px 30px 20px;
  display: block;

  .graph-context-menu {
    border: 1px solid #686868;
  }
  --sz-how-step-card-color: #474747;
  --sz-how-step-card-type-color-add : rgb(255 190 89);
  --sz-how-step-card-type-color-create : rgb(247 217 87);
  --sz-how-step-card-type-color-final: rgb(184 214 133);

  /* lighten up "how" styles when in detail panel */
  --sz-entity-detail-section-how-step-card-color: #474747;
  --sz-entity-detail-section-how-step-card-border: 2px outset #2c2c2c57;
  --sz-entity-detail-section-how-step-card-type-color-add: rgb(255 190 89);
  --sz-entity-detail-section-how-step-card-type-color-create: rgb(247 217 87);
  --sz-entity-detail-section-how-step-card-type-color-final: rgb(184 214 133);

  /*--sz-entity-detail-section-how-step-card-type-color-merge: var(--sz-how-step-card-type-color-merge);
  --sz-entity-detail-section-how-step-card-type-color-interim: var(--sz-how-step-card-type-color-interim);
  --sz-entity-detail-section-how-step-card-type-color-final: var(--sz-how-step-card-type-color-final);
  --sz-entity-detail-section-how-step-card-data-table-border: var(--sz-how-step-card-data-table-border);
  --sz-entity-detail-section-how-step-card-data-table-cell-border: var(--sz-how-step-card-data-table-cell-border);*/

}
