@import '../../scss/_admin.scss';

:host {
  .table-wrapper {
    display: inline-block;
  }
  .row-wrapper {
    display: block;
  }
  .form-actions {
    margin: 30px 0 0 0;

    display: inline-flex;
    flex-direction: row;

    button {
      margin-right: 10px;
      &:last-child {
        margin-right: none;
      }
    }
  }
}
