:host {
    padding: 4px 0 20px 0;
    display: block;
}

.data, .errors {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #e0e0e0;
    padding: 7px 0;

    .column:first-child {
        padding-left: 10px;
    }
}
.column {
    width: 50%;
}

.error, .errors {
    color: red;
}
.errors h3 {
    color: #333;
}
.errors textarea {
    height: 400px;
}