/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error-404 {
  background-color: #f3ecca;
}
.error-500 {
  background-color: #f3d6bf;
}
.error-504 {
  background-color: #de004830;
  background-color: rgba(222, 0, 72, 0.1);
}
.error-uknown {
  background-color: #e9caf3;
}

// sdk theme overrides
body {
  --sz-search-button-clear-background-color: transparent;
  --sz-search-label-font-size: .8em;
  --sz-search-label-color: #b3b3b3;
}
