<!-- start entity detail -->
  <!-- start graph context menu template -->
  <ng-template #graphContextMenu let-entityEvt>
      <ul class="graph-context-menu">
          <li (click)="openGraphItemInNewMenu(entityEvt?.entityId)">Open details in new tab</li>
          <li (click)="hideSingleGraphItem(entityEvt?.entityId)">Hide this entity</li>
      </ul>
  </ng-template>


  <div class="tab-container">
    <button (click)="onToggleFilters($event)" class="tab toggle">
      <mat-icon *ngIf="this.showRightRail"aria-hidden="false" aria-label="Show Filters">double_arrow</mat-icon>
      <mat-icon *ngIf="!this.showRightRail"aria-hidden="false" aria-label="Show Filters">visibility</mat-icon>
    </button>
    <button (click)="onTabClick('detail')" class="tab" [class.active]="showEntityDetail">details</button>
    <button (click)="onTabClick('filters')" class="tab" [class.active]="showFilters">filters</button>
    <!--<button (click)="toggleSpinner()">toggle spinner</button>-->
  </div>
  <div class="content-container">
    <!-- start graph control -->
    <div class="graph-container" #graphContainer>
      <sz-standalone-graph data-html2canvas-ignore
          #graphComponent
          *ngIf="showSearchResults"
          [filterWidth]="0"
          [graphIds]="graphIds"
          [showPopOutIcon]="false"
          [showMatchKeyControl]="false"
          [showFiltersControl]="false"
          [showGraphContextMenu]="false"
          [showGraphLinkContextMenu]="true"
          (entityClick)="onGraphEntityClick($event)"
          [showMatchKeys]="_showMatchKeys"
          [showMatchKeyTokenFilters]="true"
          (requestStarted)="onRequestStarted($event)"
          (renderComplete)="onRenderComplete($event)"
          (requestComplete)="onRequestComplete($event)"matchKeyTokensIncluded
          (dataLoaded)="onDataLoaded($event)"
          (dataUpdated)="onDataUpdated($event)"
          (dataSourcesChange)="onDataSourcesChange($event)"
          (contextMenuClick)="onGraphContextClick($event)"
          (matchKeysChange)="onMatchKeysChange($event)"
          (matchKeyTokensChange)="onMatchKeyTokensChange($event)"
      ></sz-standalone-graph>
    </div>
    <!--  end graph control  -->

    <!-- start entity detail -->
    <div class="right-rail">

      <!-- start filters control -->
      <sz-entity-detail-graph-filter #graphFilter
      *ngIf="showFilters"
      class="sz-entity-detail-graph-filter"
      [showLinkLabels]="_showMatchKeys"
      [showDataSources]="_showDataSourcesInFilter"
      [showMatchKeyFilters]="false"
      [showMatchKeyTokens]="_showMatchKeyTokensInFilter"
      [showMatchKeyTokenFilters]="true"
      [showCoreMatchKeyTokenChips]="true"
      [showExtraneousMatchKeyTokenChips]="false"
      (optionChanged)="onFilterOptionChange($event)"
      ></sz-entity-detail-graph-filter>
      <!--  end filters control  -->

      <sz-entity-detail
        *ngIf="showEntityDetail"
        class="embedded-detail-viewer"
        #entityDetailComponent
        [updatePrefsOnChange]="false"
        [showGraphSection]="false"
        [forceLayout]="'layout-rail'"
        [entityId]="currentlySelectedEntityId"></sz-entity-detail>
    </div>
    <!-- end entity detail -->
  </div>
<!-- end entity detail -->
