<!-- start entity detail -->
  <!-- start graph context menu template -->
  <ng-template #graphContextMenu let-entityEvt>
      <ul class="graph-context-menu">
          <li (click)="openGraphItemInNewMenu(entityEvt.entityId)">Open in new tab</li>
          <li (click)="openGraphItemInNewMenu(entityEvt.entityId)">Why</li>
      </ul>
  </ng-template>

  <mat-drawer-container [hasBackdrop]="false">
    <mat-drawer-content [class.detail-visible]="showRightRail" (click)="onCanvasClick($event)">
      <sz-standalone-graph data-html2canvas-ignore
          #graphComponent
          *ngIf="showSearchResults"
          [filterWidth]="0"
          [graphIds]="graphIds"
          [showPopOutIcon]="false"
          [showMatchKeyControl]="false"
          [showFiltersControl]="false"
          (entityClick)="onGraphEntityClick($event)"
          [showMatchKeys]="_showMatchKeys"
          (requestStarted)="onRequestStarted($event)"
          (renderComplete)="onRenderComplete($event)"
          (requestComplete)="onRequestComplete($event)"
          (dataLoaded)="onDataLoaded($event)"
          (dataSourcesChange)="onDataSourcesChange($event)"
          (matchKeysChange)="onMatchKeysChange($event)"
          (contextMenuClick)="onGraphContextClick($event)"
      ></sz-standalone-graph>
    </mat-drawer-content>
    <mat-drawer id="graph-drawer" #graphDrawer 
      mode="over" [(opened)]="showRightRail" position="end" fixedInViewport="true">
      <div class="drawer-container">
        <div class="drawer-handle col" (click)="onToggleFilters($event)">
          <button class="toggle">
            <mat-icon aria-hidden="false" aria-label="Show/Hide Filters">double_arrow_right</mat-icon>
            <!--<mat-icon *ngIf="!this.showRightRail" aria-hidden="false" aria-label="Show Filters">double_arrow_left</mat-icon>-->
          </button>
        </div>
        <div class="drawer-content col">
          <div class="tab-container">
            <button (click)="onTabClick('detail')" class="tab" [class.active]="showEntityDetail">details</button>
            <button (click)="onTabClick('filters')" class="tab" [class.active]="showFilters">filters</button>
          </div>
          <!-- start entity detail -->
          <sz-entity-detail
            *ngIf="showEntityDetail"
            class="embedded-detail-viewer"
            #entityDetailComponent
            [updatePrefsOnChange]="false"
            [showGraphSection]="false"
            [forceLayout]="'layout-rail'"
            [entityId]="currentlySelectedEntityId"></sz-entity-detail>
          <!-- end entity detail -->
          <!-- start filters control -->
          <sz-entity-detail-graph-filter #graphFilter
          *ngIf="showFilters"
          class="sz-entity-detail-graph-filter"
          [showLinkLabels]="showMatchKeys"
          [showDataSources]="showDataSourcesInFilters"
          [showMatchKeys]="showMatchKeysInFilters"
          (optionChanged)="onFilterOptionChange($event)"
          ></sz-entity-detail-graph-filter>
          <!--  end filters control  -->
        </div>
      </div>
    </mat-drawer>
  </mat-drawer-container>
<!-- end entity detail -->
