<!-- start entity detail -->
  <!-- start graph context menu template -->
  <ng-template #graphContextMenu let-entityEvt>
      <ul class="graph-context-menu">
          <li (click)="openGraphItemInNewMenu(entityEvt.entityId)">Open in new tab</li>
          <li (click)="openGraphItemInNewMenu(entityEvt.entityId)">Why</li>
      </ul>
  </ng-template>

  <mat-drawer-container [hasBackdrop]="false">
    <mat-drawer-content [class.detail-visible]="drawerExpanded" (click)="onCanvasClick($event)">
      <sz-standalone-graph data-html2canvas-ignore
          #graphComponent
          *ngIf="showSearchResults"
          [filterWidth]="0"
          [graphIds]="graphIds"
          [showPopOutIcon]="false"
          [showMatchKeyControl]="false"
          [showFiltersControl]="false"
          (entityClick)="onGraphEntityClick($event)"
          [showMatchKeys]="_showMatchKeys"
          (requestStarted)="onRequestStarted($event)"
          (renderComplete)="onRenderComplete($event)"
          (requestComplete)="onRequestComplete($event)"
          (dataLoaded)="onDataLoaded($event)"
          (dataSourcesChange)="onDataSourcesChange($event)"
          (contextMenuClick)="onGraphContextClick($event)"
      ></sz-standalone-graph>
      <button (click)="toggleDrawerExpanded()">toggle detail view</button>
    </mat-drawer-content>
    <mat-drawer id="graph-drawer" #graphDrawer 
      mode="over" [(opened)]="drawerExpanded" position="end" fixedInViewport="true">
      <!-- start entity detail -->
      <sz-entity-detail
        *ngIf="showEntityDetail"
        class="embedded-detail-viewer"
        #entityDetailComponent
        [updatePrefsOnChange]="false"
        [showGraphSection]="false"
        [forceLayout]="'layout-rail'"
        [entityId]="currentlySelectedEntityId"></sz-entity-detail>
      <!-- end entity detail -->

    </mat-drawer>
  </mat-drawer-container>

  <!--<div class="tab-container">
    <button (click)="onToggleFilters($event)" class="tab toggle">
      <mat-icon *ngIf="this.showRightRail"aria-hidden="false" aria-label="Show Filters">double_arrow</mat-icon>
      <mat-icon *ngIf="!this.showRightRail"aria-hidden="false" aria-label="Show Filters">visibility</mat-icon>
    </button>
    <button (click)="onTabClick('detail')" class="tab" [class.active]="showEntityDetail">details</button>
    <button (click)="onTabClick('filters')" class="tab" [class.active]="showFilters">filters</button>
  </div>-->
<!-- end entity detail -->
