<h1 class="page-title">Settings and Preferences</h1>
<div class="row">
    <div id="toolbar-col1" class="column">
        <sz-preferences showControls="true"></sz-preferences>
    </div>
    <div id="toolbar-col2" class="column">
        <h4 class="title">Storage Mode</h4>
        <div class="global-state-settings">
          <div class="row"><input id="gSettings-saveToLocalStorage" type="radio" name="prefsStorageMode" value="local"
            [ngModel]="prefsStorageMode" (change)="onPrefsStorageModeUIChange('local')"><label for="gSettings-saveToLocalStorage">Local Storage<small>(persists across sessions)</small></label></div>
          <div class="row"><input id="gSettings-saveToSessionStorage" type="radio" name="prefsStorageMode" value="session"
            [ngModel]="prefsStorageMode" (change)="onPrefsStorageModeUIChange('session')"><label for="gSettings-saveToSessionStorage">Session Storage
              <small>(persists for life of browser <br/>window &amp; tab restores)</small>
            </label>
          </div>
          <div class="row"><input id="gSettings-saveToVolatileStorage" type="radio" name="prefsStorageMode" value="memory"
            [ngModel]="prefsStorageMode" (change)="onPrefsStorageModeUIChange('memory')"><label for="gSettings-saveToVolatileStorage">In memory
              <small>(persists for life of page)</small>
            </label>
          </div>
          <div class="row actions">
            <button id="gSettings-resetPrefs" mat-raised-button color="primary"
            name="clearPrefs" (click)="clearPrefs()"
            matTooltip="resets options to defaults."
            aria-label="resets options to defaults.">Reset</button>
            <button id="gSettings-resetPrefs" mat-raised-button color="warn"
            name="deletePrefs" (click)="clearPrefs(true)"
            matTooltip="delete any values stored in browser storage."
            aria-label="delete any values stored in browser storage."
            >Delete</button>
          </div>
        </div>
    </div>
</div>